<div class="container" data-bs-theme="dark">
  <h2 class="h2">Cascading Dropdowns</h2>
  <form>
    <div class="mb-3">
      <label for="country" class="form-label">Countries</label>
      <select
        class="form-select"
        aria-label="Country selector"
        id="country"
        (change)="fetchStates($event.target)"
      >
        <option value="0">--Select--</option>
        <option *ngFor="let c of countries" value="{{ c.id }}">
          {{ c.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">States</label>
      <select
        class="form-select"
        aria-label="state-select"
        id="state"
        (change)="fetchCities($event.target)"
      >
        <option value="0">--Select--</option>
        <option *ngFor="let s of states" value="{{ s.id }}">
          {{ s.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">Cities</label>
      <select class="form-select" aria-label="City select" id="city">
        <option value="0">--Select--</option>
        <option *ngFor="let city of cities" value="{{ city.id }}">
          {{ city.name }}
        </option>
      </select>
    </div>
  </form>
</div>
